@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --almost__white: hsl(0, 0%, 98%);
  --medium__grey: hsl(0, 0%, 41%);
  --almost__black: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--almost__white);
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
