@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --almost__white: hsl(0, 0%, 98%);
  --medium__grey: hsl(0, 0%, 41%);
  --almost__black: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--almost__white);
}

/* CONTENT DESCRIPTION */
.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 144rem;
  margin-left: 16.5rem;
  margin-right: 1.6rem;
  gap: 4.5rem;
}

.hero__img {
  grid-column: 2;
}

.hero__img--desktop {
  max-width: 48rem;
  width: 100%;
}

.description {
  grid-row: 1;
  align-self: end;
  max-width: 54rem;
}

.description__header {
  font-size: 8rem;
  columns: var(--almost__black);
  margin-bottom: 4.8rem;
}

.description__text {
  font-size: 1.8rem;
  color: var(--medium__grey);
  line-height: 1.5;
  padding-right: 10rem;
  margin-bottom: 6.2rem;
}

/* BUTTON */

.btn a {
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  color: var(--almost__white);
  padding: 2rem 3.2rem;
  background: var(--almost__black);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--almost__black);
}

.btn a:hover {
  background: var(--almost__white);
  color: var(--almost__black);
}

.clients {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-top: 13.6rem;
}

.clients img {
  width: 22rem;
}

.hidden {
  display: none;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
