@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --almost__white: hsl(0, 0%, 98%);
  --medium__grey: hsl(0, 0%, 41%);
  --almost__black: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--almost__white);
  overflow-x: hidden;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Header */
.header {
  height: 100vh;
}

.content__container {
  display: flex;
  gap: 3rem;
  padding: 6.5rem 13rem 13rem;
  max-width: 155rem;
  margin: 0 auto;
}

.header__content {
  width: 54rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__title {
  font-size: 8rem;
  color: var(--almost__black);
  margin-bottom: 4.8rem;
}

.header__text {
  font-size: 1.8rem;
  color: var(--medium__grey);
  line-height: 1.6;
  padding-right: 10rem;
  margin-bottom: 5.8rem;
}

/* Learn more button */

.learn-more__btn {
  margin-bottom: 13rem;
}

.learn-more__link {
  font-size: 1.8rem;
  font-family: inherit;
  color: var(--almost__white);

  padding: 1.8rem 3rem;
  background-color: var(--almost__black);

  border: 1.5px solid var(--almost__black);
  border-radius: 15px;
  transition: all 0.1s;
}

.learn-more__link:hover {
  background-color: var(--almost__white);
  color: var(--almost__black);
}

/* Clients logos */

.clients__logos {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.client__logo {
  width: 100%;
  max-width: 8.5rem;
}

/* Hero image */

.hero__imgs {
  margin-left: auto;
  width: 48rem;
}

.hero__img-desktop {
  max-width: 48rem;
  width: 100%;
}

.hero__img-mobile {
  display: none;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--almost__black);
  mix-blend-mode: normal;
  opacity: 0;
  display: none;
}

.overlay--active {
  opacity: 0.75;
  display: block;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
