.nav__container {
  padding: 2.8rem 4rem;
  display: flex;
  gap: 6rem;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links,
.user__actions {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.drop__down-btn,
.link,
.link:visited,
.link:link {
  font-size: 1.4rem;
  color: var(--medium__grey);
}

.drop__down-btn:hover,
.link:hover {
  color: var(--almost__black);
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.arrow__icon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.dropdown__links {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  padding: 2.4rem;

  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  border-radius: 10px;

  opacity: 0;
  margin-top: -1rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.dropdown__links--visible {
  opacity: 1;
  margin-top: 2rem;
  pointer-events: all;
}

.features__links {
  width: 16rem;
  right: 0;
}

.features__links .icon {
  margin-right: 1.6rem;
}

.company__links {
  width: 12rem;
}

.register__btn {
  padding: 1.4rem 2.4rem;
  border: 1.5px solid var(--medium__grey);
  border-radius: 14px;
}

.register__btn:hover {
  border-color: var(--almost__black);
}
