@media (max-width: 82.5em) {
  .content__container {
    padding: 6.5rem 8rem 13rem;
  }
}

@media (max-width: 74em) {
  .content__container {
    padding: 6.5rem 4rem 8rem;
  }

  .header__content {
    width: 46rem;
  }

  .header__title {
    font-size: 6.8rem;
  }

  .header__text {
    font-size: 1.6rem;
    padding-right: 6rem;
  }

  .learn-more__link {
    font-size: 1.6rem;
  }

  .hero__imgs {
    width: 44rem;
  }
}

@media (max-width: 61.5em) {
  .header__content {
    width: 36rem;
  }

  .header__title {
    font-size: 5.4rem;
  }

  .header__text {
    padding-right: 0;
  }

  .hero__imgs {
    width: 40rem;
  }

  .learn-more__link {
    padding: 1.6rem 2.6rem;
  }
}

@media (max-width: 55em) {
  .mobile__menu {
    z-index: 2;
  }

  .nav__container {
    position: relative;
    justify-content: space-between;
    padding: 1.6rem;
  }

  .nav {
    position: absolute;
    background-color: var(--almost__white);
    width: 24rem;
    height: 100vh;
    padding: 2.4rem;

    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 3.2rem;

    top: 0;
    right: 0;
    z-index: 1;

    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
  }

  .nav--visible {
    transform: translateX(0);
  }

  .dropdown {
    overflow-y: hidden;
  }

  .dropdown__links {
    position: unset;

    padding: 0;
    padding-left: 2.4rem;
    margin-top: -67%;

    box-shadow: none;
    background-color: transparent;

    transition: all 0.1s ease-in-out;
  }

  .features__links {
    width: 18rem;
  }

  .dropdown__links--visible {
    margin-top: 2rem;
  }

  .links {
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
    margin-top: 8rem;
  }

  .drop__down-btn,
  .link,
  .link:visited,
  .link:link {
    font-size: 1.6rem;
  }

  .user__actions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    width: 100%;
  }

  .user__actions .login__btn,
  .user__actions .register__btn {
    font-size: 1.4rem;
    width: 100%;
  }

  .register__btn {
    width: 100%;
    padding: 1.4rem 6.8rem;
  }

  /* Hero image */
  .hero__imgs {
    max-width: 70rem;
    width: 108%;
    margin-left: unset;
    margin-bottom: 4.8rem;
  }

  .hero__img-mobile {
    display: block;
    /* width: 20rem; */
    width: 100%;
  }

  .hero__img-desktop {
    display: none;
  }

  /* Header content */
  .content__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1.6rem 3rem;
    gap: 0;
  }

  .header__content {
    max-width: 70rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header__text {
    text-align: center;
  }

  /* Learn more button */
  .learn-more__btn {
    margin-bottom: 10rem;
  }

  .clients__logos {
    gap: 2.8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .client__logo {
    max-width: 10rem;
  }
}

@media (max-width: 34.5em) {
  .content__container {
    padding: 1.2rem 1.2rem 3rem;
  }

  .header__title {
    font-size: 3.6rem;
    margin-bottom: 1.6rem;
  }

  .header__text {
    margin-bottom: 4.8rem;
  }

  .learn-more__btn {
    margin-bottom: 7rem;
  }
}

@media (max-width: 22.5em) {
  .content__container {
    padding: 1.2rem 0.8rem 3rem;
  }
}
